.hostings_table_sites_list {
    margin: 0;
    li {
        list-style-type: none;
    }
}
.hostings_table__access-wrapper {
    margin: 0 -4px;
}
.hostings_table__access-icon {
    margin: 0 4px;
}
