.contragent_form {
    width: 720px;
    background-color: #f9f9f9;
    .form_wrapper {
        width: 560px;
        margin: 50px 50px 0 50px;
    }
    textarea, input {
        outline: none;
        border: solid 1px #e0e0e0;
    }
    .textarea_container {
        margin-bottom: 40px;
    }
    .contragent_name_input {
        height: 52px;
        width: 100%;
        font-size: 30px;
        padding: 0 12px;
    }
    .contragent_description_input {
        height: 64px;
        width: 100%;
        resize: none;
        font-size: 15px;
        padding: 12px 0 0 15px;
        margin: -1px 0 0 0;
    }
    .input_item {
        min-height: 40px;
        width: 100%;
        font-size: 15px;
        padding: 4px 8px;
        margin-top: -1px;
    }
    .form_actions {
        margin-top: 60px;
        background-color: white;
        padding: 0 50px;
    }
    .action_btn {
        margin: 15px 0;
        padding: 12px 22px;
        border-radius: 20px;
        font-size: 15px;
        font-weight: bold;
    }
    .action_btn:hover {
        cursor: pointer;
        background-color: #ffd63c;
    }
    .form_grid_container {
        padding: 50px 50px 0 50px;
    }
    .error_message {
        display: block;
        margin: 4px 0 4px 20px;
        color: red;
    }
}
