.short_user_info_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .user_image {
        height: 24px;
        width: 24px;
    }
    .user_name {
        margin: 0 12px;
    }
}
