.custom_select_icon_add_wrapper {
    position: absolute;
    right: 16px;
    bottom: 8px;
}

.custom-select-add-btn {
    border-radius: 100%;
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.07) 0 4px 4px 0;
}
