.confirm_actions_wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 0 24px 24px 24px;
}
.confirm_modal_body {
    padding: 24px;
}
.confirm_modal_title {
    font-size: 18px;
    font-weight: bold;
}
