.auth_page_content {
    height: 100%;
    max-width: 400px;
    margin: 2rem 0 0 0;
}

.home_page_title {
    font-size: 32px;
    font-weight: bold;
    color: #444;
    margin-bottom: 42px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 48px 0 #b7b7b7;
    border-radius: 4px;
    padding: 16px;
    min-width: 400px;

    &__field {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0;
    }
}

.auth-form .login_btn {
    background-color: #f8dd3f;
    font-size: 15px;
    cursor: pointer;
    padding: 12px 0;
    border-radius: 24px;
    width: 50%;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
    outline: none;
}

.auth-form .login_btn:hover {
    background-color: black;
    color: white;
}

.auth-form .auth_title {
    margin-bottom: 8px;
    color: #505050;
}

.auth-form .auth_right_text {
    color: #a0a0a0;
}

.auth-form .auth_footer {
    margin-top: 0.5rem;
}

.auth_form_block {
    display: flex;
    justify-content: center;
}

.circular_progress {
    position: absolute;
    left: 50%;
}
