.about-me__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

  .about-me__body {
    display: flex;
    min-width: 600px;

    &.center {
      align-content: center;
      justify-content: center;
    }

    div.about-me__half {
      width: 50%;
      padding: 0 30px 19px;

      &.last-child {
        padding-left: 0;
      }

      .about-me__card {
        margin-bottom: 19px ;

        .about-me__sub-title {
          margin-bottom: 7px ;
          font-size: 14px;
          font-weight: bold;
          color: #131313;
        }

        .about-me__info {
          font-size: 14px;
          font-weight: normal;
          color: #131313;
        }

        .about-me__info-list {

          .about-me__info-list-item {
            font-size: 14px;
            font-weight: normal;
            color: #131313;
            margin-bottom: 7px ;
          }
        }
      }

    }
  }
}
